<main class="feature">
  <div class="feature_container">
    <div class="feature_boxing">
      <div class="image-panner wow animate__fadeIn" data-wow-delay="0.2s">
        <img src="assets/ferniture-4.png" alt="ferniture-panner" />
      </div>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div
              class="d-flex align-items-center justify-content-center carousel_blog"
            >
              <div
                class="box_defenition wow animate__fadeInDown"
                data-wow-delay="0.1s"
              >
                <p>TOP collection 22024</p>
                <h1>
                  we serve your dream ,
                  <p>furniture</p>
                </h1>
                <span>get 50% off all product</span>
                <div class="box_info">
                  <div class="info_collection">
                    <h1>456+</h1>
                    <p>Collections</p>
                  </div>
                  <span></span>
                  <div class="info_collection">
                    <h1>800+</h1>
                    <p>Customors</p>
                  </div>
                  <span></span>
                  <div class="info_collection">
                    <h1>4.5+</h1>
                    <p>Reviews</p>
                  </div>
                </div>
                <div class="btn-box">
                  <button>View More</button>
                  <div class="btn-icon" (click)="openVideoDialog()">
                    <i class="fas fa-play"></i>
                  </div>
                </div>
              </div>
              <div class="image wow animate__zoomIn" data-wow-delay="0.1s">
                <img
                  src="assets/result.png"
                  class="d-block"
                  alt="feature-image"
                />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div
              class="d-flex align-items-center justify-content-center carousel_blog"
            >
              <div class="box_defenition">
                <p>LUXURY LIVING 2024</p>
                <h1>
                  Elevate Your Space With
                  <p>Premium Designs</p>
                </h1>
                <span>Limited Time: 60% Off Summer Collection</span>
                <div class="box_info">
                </div>
                <div class="btn-box">
                  <button>Shop Now</button>
                  <div class="btn-icon" (click)="openVideoDialog()">
                    <i class="fas fa-play"></i>
                  </div>
                </div>
              </div>
              <div class="image wow">
                <img
                  src="assets/header-sofa-img.png"
                  class="d-block"
                  alt="luxury sofa"
                />
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div
              class="d-flex align-items-center justify-content-center carousel_blog"
            >
              <div class="box_defenition wow">
                <p>MODERN OFFICE SOLUTIONS</p>
                <h1>
                  Productivity Meets
                  <p>Comfort</p>
                </h1>
                <span>New Ergonomic Designs - 40% Off</span>
                <div class="box_info">
                </div>
                <div class="btn-box">
                  <button>Explore Office</button>
                  <div class="btn-icon" (click)="openVideoDialog()">
                    <i class="fas fa-play"></i>
                  </div>
                </div>
              </div>
              <div class="image">
                <img
                  src="assets/result-2.png"
                  class="d-block"
                  alt="office furniture"
                />
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div
              class="d-flex align-items-center justify-content-center carousel_blog"
            >
              <div class="box_defenition">
                <p>BEDROOM ESSENTIALS</p>
                <h1>
                  Dream In Style With
                  <p>Our Beds</p>
                </h1>
                <span>Buy 1 Get 1 Pillow Free</span>
                <div class="box_info">
                </div>
                <div class="btn-box">
                  <button>View Collection</button>
                  <div class="btn-icon" (click)="openVideoDialog()">
                    <i class="fas fa-play"></i>
                  </div>
                </div>
              </div>
              <div class="image">
                <img
                  src="assets/resut-4.png"
                  class="d-block"
                  alt="bedroom furniture"
                />
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div
              class="d-flex align-items-center justify-content-center carousel_blog"
            >
              <div class="box_defenition">
                <p>OUTDOOR COLLECTION</p>
                <h1>
                  Refresh Your
                  <p>Outdoor Space</p>
                </h1>
                <span>Summer Sale - Up to 55% Off</span>
                <div class="box_info">
                </div>
                <div class="btn-box">
                  <button>Discover Outdoor</button>
                  <div class="btn-icon" (click)="openVideoDialog()">
                    <i class="fas fa-play"></i>
                  </div>
                </div>
              </div>
              <div class="image">
                <img
                  src="assets/result-3.png"
                  class="d-block"
                  alt="outdoor furniture"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature_content">
    <div class="conent_box wow fadeInUp" data-wow-delay="0.1s">
      <i class="fa-solid fa-truck-fast"></i>
      <div class="box_notefication">
        <h2>free shopping</h2>
        <p>
          This is a sample text body with about two lines of content. Now this
          will be the eccommerce website for testing.
        </p>
      </div>
    </div>
    <div class="conent_box wow fadeInUp" data-wow-delay="0.2s">
      <i class="fa-solid fa-gift"></i>

      <div class="box_notefication">
        <h2>Smart Gift Card</h2>
        <p>
          This is a sample text body with about two lines of content. Now this
          will be the eccommerce website for testing.
        </p>
      </div>
    </div>
    <div class="conent_box wow fadeInUp" data-wow-delay="0.3s">
      <i class="fa-regular fa-credit-card"></i>
      <div class="box_notefication">
        <h2>Quick Payment</h2>
        <p>
          This is a sample text body with about two lines of content. Now this
          will be the eccommerce website for testing.
        </p>
      </div>
    </div>
    <div class="conent_box wow fadeInUp" data-wow-delay="0.4s">
      <i class="fa-solid fa-headset"></i>
      <div class="box_notefication">
        <h2>24/7 support</h2>
        <p>
          This is a sample text body with about two lines of content. Now this
          will be the eccommerce website for testing.
        </p>
      </div>
    </div>
  </div>
</main>
<app-all-products></app-all-products>
<app-modern></app-modern>
<app-special-offer></app-special-offer>
<app-trending-prd></app-trending-prd>
<app-customer-reviews>
  <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
    Our Clients Reviews
  </h1>
</app-customer-reviews>
