.dialog-content {
  padding: 5px;
  border-radius: 10px;
  position: relative;

  text-align: center;
  p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 0;
  }
}

button {
  background-color: #2e8b57;
  color: white !important;
  font-size: 1rem;
}
