@use "../../scss/ComponentsStyle" as main;
.security-page {
  width: main.$max-width;

  @media (max-width:main.$max-width) {
    width: main.$medium-width;
  }

  mat-card {
    @include main.MatCard-style;
    mat-card-content {
      form {
        mat-icon {
          color: main.$primary-color;
        }

        .full-width {
          width: main.$width;
        }
        .emailInput {
          padding-top: main.$spacing-medium;
        }

        button {
          background-color: main.$primary-color;
          color: main.$white;
        }
      }

      .concat {
        img {
          width: main.$spacing-large;
          height: main.$spacing-large;
          @include main.border-radius(50%);
        }
      }
    }
  }

}
