<main class="Subscribe wow animate__fadeIn" data-wow-delay=".2s">
  <span class="cover"></span>
  <div class="image_categories">
    <img src="assets/s-1.jpg" alt="Subscribe_image">
  </div>
  <div class="Subscribe_body">
    <p class="wow animate__bounceIn" data-wow-delay=".3s">Our Newsletter</p>
    <h1 class="wow animate__bounceIn" data-wow-delay=".4s">Subscribe To Our Newsletter To Get Updates To Our Letters Furniture</h1>
    <span class="wow animate__bounceIn" data-wow-delay=".5s">Get 20% Off On Your First Order Just By Subscribing To Our Newsletter</span>
  </div>
  <div class="Subscribe_input">
    <div class="Subscribe_search wow animate__fadeInLeft" data-wow-delay=".6s">
         <i class="fa-regular fa-envelope"></i>
    <input type="search" placeholder="Enter Email Address">
    </div>
    <button class="wow animate__fadeInRight" data-wow-delay=".7s">Subscribe</button>
  </div>
</main>
