<section class="section offer" id="offer" aria-label="offer" data-section>
  <div class="container_offer">
    <figure class="offer-banner">
      <img src="assets/panner-1.jpg" width="305" height="408" alt="offer products" class="w-100 wow animate__zoomIn"
        data-wow-delay="0.1s" />

      <img src="assets/panner-2.jpg" width="450" height="625" alt="offer products" class="w-100 wow animate__zoomIn"
        data-wow-delay="0.2s" />
    </figure>

    <div class="offer-content">
      <p class="offer-subtitle wow animate__zoomIn" data-wow-delay="0.1s">
        <span class="span">Special Offer</span>

        <span class="badge" aria-label="20% off">-20%</span>
      </p>

      <h1 class="wow animate__zoomIn" data-wow-delay="0.1s">Modern Furniture Collection</h1>

      <p class="section-text wow animate__zoomIn" data-wow-delay="0.3s">
        Explore our modern furniture collection crafted with precision and style. Our pieces are designed using
        high-quality materials, offering both comfort and aesthetic appeal. Elevate your living space with our exclusive
        range of furniture.
      </p>
      <div class="countdown">
        <span class="time days wow animate__zoomIn" data-wow-delay="0.3s" aria-label="days">15</span>
        <span class="time hours wow animate__zoomIn" data-wow-delay="0.4s" aria-label="hours">21</span>
        <span class="time minutes wow animate__zoomIn" data-wow-delay="0.5s" aria-label="minutes">46</span>
        <span class="time seconds wow animate__zoomIn" data-wow-delay="0.6s" aria-label="seconds">08</span>
      </div>

      <a href="#" class=" wow animate__fadeIn" data-wow-delay="0.6s">Get Only $39.00</a>
    </div>
  </div>
</section>