
.offer-banner {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  gap: 30px;
  margin-block-end: 60px;
  img{
    height: auto;
  }
}

.offer {
  padding: 60px 0;
  .container_offer {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    @media (max-width:991px) {
      display: flex;
      flex-direction: column;
    }
    align-items: center;
    gap: 30px;
    margin: 0 30px;

    .offer-content {
      padding: 0 10px;
      .offer-subtitle {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 10px;

        .badge {
          max-width: max-content;
          background-color: #2E8B57;
          color: white;
          font-weight: 400;
          padding-inline: 12px;
          border-radius: 3px;
        }

        .span {
          color: black;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 2px;
        }
      }

      h1 {
        color: black;
        font-weight: 600;
        line-height: 1.3;
        margin-block: 20px 8px;
        font-size: 3rem;
      }

      .section-text {
        color: hsl(0deg 0% 0% / 45%);
        font-size: 1.4rem;
        line-height: 1.3;
        margin: 25px 0;
      }

      .countdown {
        color: #2E8B57;
        font-size: 4rem;
        @media (max-width:600px) {
          font-size: 2rem;
        }
        line-height: 1;
        display: flex;
        margin-block: 20px 40px;

        .time:not(:last-child)::after {
          content: ":";
          color: hsl(0, 0%, 49%);
          font-size: 2rem;
          font-weight: 500;
          margin-inline: 10px;
        }
         .time {
          display: flex;
          align-items: center;
        }

      }
      a{
        font-size: 1.3rem;
        padding: 10px 20px ;
        color: white;
        background-color: black;
        border-radius: 5px;
        text-decoration: none;
      }

    }
  }
}
