<footer class="wow fadeIn" data-wow-delay=".2s">
  <main class="footer_contianer">
          <div class="footer_box">
            <h2>Ferniture</h2>
            <div class="footer_content">
              <div class="footer_icon">
                <i class="fa-solid fa-house-chimney"></i>
                <p>Explore the world of premium furniture at our Furniture E-commerce home. Navigating through our site is made effortless with our user-friendly and feature-rich footer. </p>
              </div>
              <div class="footer_icon">
                <i class="fa-solid fa-gear"></i>
                <p>Configuring Your Preferences: Unlocking the Power of Settings</p>
              </div>
              <div class="footer_icon">
                <i class="fa-solid fa-envelope"></i>
                <p>Support&#64;gmail.com</p>
              </div>
              <div class="footer_icon">
                <i class="fa-solid fa-phone"></i>
                <p>+222-345-649</p>
              </div>
            </div>
          </div>
          <div class="footer_box">
            <h2>Newsletter</h2>
            <div class="footer_content2">
              <p>signing up for exclusive benefits and personalized updates through our newsletter. Simply enter your email in the subscription form located in the footer.
              </p>
              <div class="footer_search">
                <span>Subscribe</span>
                <input type="search" placeholder="Subscribe Here">
              </div>
            </div>
          </div>
          <div class="footer_box">
            <h2>Follow Us On</h2>
            <div class="footer_content">
              <div class="footer_icon">
                <i class="fa-brands fa-facebook"></i>
                <a href="#" target="_blank">Facebook</a>
              </div>
              <div class="footer_icon">
                <i class="fa-brands fa-twitter"></i>
                <a href="#" target="_blank">Twitter</a>
              </div>
              <div class="footer_icon">
                <i class="fa-brands fa-instagram"></i>
                <a href="#" target="_blank">Instagram</a>
              </div>
              <div class="footer_icon">
                <i class="fa-brands fa-youtube"></i>
                <a href="#" target="_blank">YouTube</a>
              </div>
              <div class="footer_icon">
                <i class="fa-brands fa-tiktok"></i>
                <a href="#" target="_blank">TikTok</a>
              </div>

            </div>
          </div>
          <div class="footer_box">
            <h2>Information</h2>
            <div class="footer_content">
              <div class="footer_icon">
                <i class="fa-solid fa-info"></i>
                <p>About Us</p>
              </div>
              <div class="footer_icon">
                <i class="fa-solid fa-handshake"></i>
                <p>Customer Services</p>
              </div>
              <div class="footer_icon">
                <i class="fa-solid fa-lock"></i>
                <p>Privacy Policy</p>
              </div>
              <div class="footer_icon">
                <i class="fa-solid fa-map-marker"></i>
                <p>Location</p>
              </div>
              <div class="footer_icon">
                <i class="fa-solid fa-search"></i>
                <p>Search Terms</p>
              </div>
            </div>

          </div>
  </main>
  <main class="footer_payment">
    <p>Explore Convenient Payment Options</p>
    <div class="payment_icon">
      <i class="fa-brands fa-amazon-pay"></i>
      <i class="fa-brands fa-cc-visa"></i>
      <i class="fa-brands fa-cc-mastercard"></i>
      <i class="fa-brands fa-cc-paypal"></i>
      <i class="fa-brands fa-cc-discover"></i>
    </div>
  </main>

</footer>
