<main class="modern_perant">
  <header class="modern_header wow animate__fadeIn" data-wow-delay=".1s">
    <h1>Category</h1>
    <p>
      Discover Our Unique Collection Of Exclusive Categories
    </p>
  </header>
  <section class="modern-container">

  <div class="modern_image wow animate__fadeInDown" data-wow-delay=".3s">
    <img src="assets/m-1.jpg" alt="modern-image">
    <div class="modern_content">
      <div class="modern_title">
        <div class="modern_icon">
          <i class="fa-solid fa-arrow-up"></i>
        </div>
        <h1>living Room</h1>
      </div>
      <p>134+ items</p>
    </div>
  </div>
  <div class="modern_image wow animate__fadeInDown" data-wow-delay=".4s">
    <img src="assets/m-2.jpg"  alt="modern-image">
    <div class="modern_content">
      <div class="modern_title">
        <div class="modern_icon">
          <i class="fa-solid fa-arrow-up"></i>
        </div>
        <h1>Bed Room</h1>
      </div>
      <p>156+ items</p>
    </div>
  </div>
  <div class="modern_image big wow animate__fadeInRight" data-wow-delay=".1s">
    <img src="assets/m-3.jpg"  alt="modern-image">
    <div class="modern_content">
      <div class="modern_title">
        <div class="modern_icon">
          <i class="fa-solid fa-arrow-up"></i>
        </div>
        <h1>
          living Room</h1>
      </div>
      <p>134+ items</p>
    </div>
  </div>
  <div class="modern_image wide wow animate__fadeInLeft" data-wow-delay=".2s">
    <img src="assets/m-4.jpg"  alt="modern-image">
    <div class="modern_content">
      <div class="modern_title">
        <div class="modern_icon">
          <i class="fa-solid fa-arrow-up"></i>
        </div>
        <h1>Bed Room</h1>
      </div>
      <p>156+ items</p>
    </div>
  </div>
  </section>
</main>


